order by featured then iterate put a conditional on the style to change color
{% assign sorted_blocks = section.blocks | sort: "settings.featured" | reverse %}
{% for block in sorted_blocks %}
<h3 class="{{ block.type }}-color">{{ block.settings.title }}</h3>
<p>{{ block.settings.description }}</p>
{% endfor %}

{% schema %}
 {
   "name": "news-carousel",
   "settings": [
   ],
   "blocks": [
     {
       "type": "campaign",
       "name": "campaign",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "featured"
         }
       ]
     },
     {
       "type": "new-product",
       "name": "new-product",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "featured"
         }
       ]
     },
     {
       "type": "news",
       "name": "news",
       "settings": [
         {
          "type": "text",
          "label": "Title",
          "id": "title"
         },
         {
          "type": "textarea",
          "label": "Description",
          "id": "description"
         },
         {
          "type": "checkbox",
          "label": "Featured",
          "id": "featured"
         }
       ]
     }
   ]
 }
{% endschema %}

{% stylesheet %}
.campaign-color {
  color: red;
}
.new-product-color {
  color: blue;
}

.news-color {
  color: green;
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
